@charset "utf-8";

html {
  font: size 1.1em;
}

:root{
  /* fonts */
  --block-text-font-face:"Raleway-Regular";
  --heading-font-face:"Aleo-Regular";

}

/* ------ HTML Element Selectors ------ */

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
 }

body {
  font-family:var(--block-text-font-face);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font-face), 'Helvetica', sans-serif;
  letter-spacing:3px;
}

h1, h2, h3, h4, h5, h6{
  text-shadow: 1px 1px 0px var(--second-color);
}

ul{
  list-style: none;
  padding-inline-start: 0;
}